<% layout("/Admin/AdminLayout/boilerplate.ejs") %>

    <body>
        <form action="/Admin/Category" method="post" class="needs-validation" novalidate>
            <div class="row col-8 offset-2 " style="margin-top: 5rem;margin-bottom: 5rem; justify-content: center;">
                <div class="mb-3 form-floating">
                    <input required type="text" class="form-control" name="category[categoryName]" id="title"
                        placeholder="Title">
                    <label for="title" class="form-label pl-1"><img width="25" height="25"
                            src="https://img.icons8.com/fluency/48/tag--v1.png" alt="tag--v1" />&nbsp; Title</label>
                    <div class="invalid-feedback">
                        Invalid Title
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    <input required type="text" class="form-control" name="category[categoryId]" id="CategoryId"
                        placeholder="Category Id">
                    <label for="CategoryId" class="form-label pl-1"><img width="25" height="25"
                            src="https://img.icons8.com/color/48/pen.png" alt="pen" /> &nbsp;Category Id</label>
                    <div class="invalid-feedback">
                        Invalid Category Id
                    </div>
                </div>
                <div class="mb-3">
                    <input required type="file" class="form-control" name="category[image]" id="Image"
                        placeholder="Image">
                    <div class="invalid-feedback">
                        Invalid Image
                    </div>
                </div>
                <button class="btn add-new btn-outline-warning">Add</button>
            </div>
        </form>
    </body>