<% layout("/Admin/AdminLayout/boilerplate.ejs") %>

    <body>
        <form action="/Admin/Product" enctype="multipart/form-data" method="post" class="needs-validation" novalidate>
            <div class="row col-8 offset-2 " style="margin-top: 5rem;margin-bottom: 5rem; justify-content: center;">
                <div class="row">
                    <div class="Title description col col-md-6">
                        <div class="mb-3 form-floating">
                            <input required type="text" class="form-control" name="listing[title]" id="title"
                                placeholder="Title">
                            <label for="title" class="form-label pl-1"><img width="25" height="25"
                                    src="https://img.icons8.com/color/48/collect.png" alt="collect" /> &nbsp;
                                Title</label>
                            <div class="invalid-feedback">
                                Invalid Title
                            </div>
                        </div>
                        <div class="mb-3 form-floating">
                            <input required type="text" class="form-control" name="listing[description]"
                                id="Description" placeholder="Description">
                            <label for="Description" class="form-label pl-1"><img width="25" height="25"
                                    src="https://img.icons8.com/color/48/collect.png" alt="collect" />
                                &nbsp;Description</label>
                            <div class="invalid-feedback">
                                Invalid Description
                            </div>
                        </div>
                    </div>
                    <div class="price productId col col-md-6">
                        <div class="mb-3 form-floating col-md-12">
                            <input required type="text" class="form-control" name="listing[price]" id="Price"
                                placeholder="1,200">
                            <label for="Price" class="form-label"> <img width="30" height="30"
                                    src="https://img.icons8.com/fluency/48/price-tag-euro.png" alt="price-tag-euro" />
                                Price</label>
                            <div class="invalid-feedback">
                                Enter Valid Price
                            </div>
                        </div>
                        <div class="mb-3 form-floating col-md-12">
                            <input required type="text" class="form-control" name="listing[productId]" id="Price"
                                placeholder="1,200">
                            <label for="productId" class="form-label"><img width="48" height="48"
                                    src="https://img.icons8.com/color/48/pen.png" alt="pen" />Product Id</label>
                            <div class="invalid-feedback">
                                Enter Valid Product Id
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <input required type="file" class="form-control" name="listing[image1]" id="Image1"
                                placeholder="Enter the URL/link">
                            <div class="invalid-feedback">
                                Image 1 required
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control" name="listing[image2]" id="Image2"
                                placeholder="Enter the URL/link">
                        </div>
                        <div class="mb-3">
                            <input type="file" class="form-control" name="listing[image3]" id="Image3"
                                placeholder="Enter the URL/link">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 form-floating">
                            <input required type="text" class="form-control" name="listing[categoryName]"
                                id="categoryName" placeholder="categoryName">
                            <label for="categoryName" class="form-label pl-1"><i class="fa-solid fa-list"></i>Category
                                Name</label>
                            <div class="invalid-feedback">
                                Invalid Category Name
                            </div>
                        </div>
                        <div class="mb-3 form-floating">
                            <input required type="text" class="form-control" name="listing[categoryId]" id="categoryId"
                                placeholder="categoryId">
                            <label for="categoryId" class="form-label pl-1"><i class="fa-solid fa-list"></i>Category
                                Id</label>
                            <div class="invalid-feedback">
                                Invalid Category Id
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn add-new btn-primary bg-danger" type="submit">Add</button>
            </div>
        </form>
    </body>