<body>
    <!-- navbar file -->
    <% layout("/Admin/AdminLayout/boilerplate.ejs") %>
        <h3 id="Category-text">
            Category's
        </h3>
        <div class="Category-Postcontainer">
            <% for(let i=0; i<AllCategorys.length; i++){ %>
                <div class="card">
                    <div class="picture picture-category">
                        <img src="/uploads/<%= AllCategorys[i].image %>" class="card-img-top" alt="">
                    </div>
                    <div class="aboutProduct-category">
                        <h5 class="Product-title">
                            <img width="20" height="20" src="https://img.icons8.com/fluency/48/collect.png"
                                alt="collect" />
                            <%= AllCategorys[i].categoryName %>
                        </h5>
                        <div class="buttons">
                            <form action="/Admin/Category/Edit/<%=AllCategorys[i].categoryId%>" method="get">
                                <button class="button-1 edit-btn" role="button">
                                    <span class="button-1-shadow"></span>
                                    <span class="button-1-edge"></span>
                                    <span class="button-1-front text">
                                        Edit
                                    </span>
                                </button>
                            </form>
                            <form action="/Admin/Category/Delete/<%= AllCategorys[i].categoryId %>">
                                <button class="button-1" role="button">
                                    <span class="button-1-shadow"></span>
                                    <span class="button-1-edge"></span>
                                    <span class="button-1-front text">
                                        Delete
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
</body>