.navbar {
    background-color: #005bda !important;
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0;
}

a {
    color: white !important;
    font-weight: 700 !important;
    position: relative;
}

a::after {
    content: "";
    width: 0%;
    position: absolute;
    left: 0%;
    bottom: 10%;
    height: 3px;
    background-color: #F86F03;
    transition: all ease 1s;
}

a:hover::after {
    width: 100%;
}