#loginDiv {
    text-align: center;
    padding: 10px;
    display: grid;
    justify-content: center;
    width: 100%;
    background-color: beige;
    align-items: start;
}

#login{
    height: inherit;
}

.btn {
    color: white;
    font-size: large;
    font-weight: bold;
}

.btn:active {
    transform: scale(0.8);
}

#loginForm {
    width: 20rem;
}