.main {
    padding-top: 5rem;
}

.Postcontainer,
.Category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 13rem));
    justify-content: space-evenly;
    grid-gap: 20px;
    padding: 10px;
}

#Category-text {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline #F86F03 5px;
    text-decoration-skip-ink: none;
}

.categoryCard {
    align-items: center;
    border: none;
    color: #F86F03;
}

.categoryCard .picture {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
}

.categoryCard .card-text {
    font-weight: bold;
    font-family: initial;
}

.categoryCard .picture img {
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid #005BDA;
    text-align: center;
}

.categoryCard .picture img:hover {
    opacity: .5;
    background-color: white;
}

.categoryCard .picture img:active {
    transform: scale(.9);
}

.picture {
    height: 15rem;
}

.picture img {
    width: 100%;
    height: 100%;
}

/* Media query for phones */
@media screen and (max-width: 767px) {

    .Postcontainer,
    .Category {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

    .picture {
        height: 15rem;
    }
}