.main {
    padding-top: 4rem;
}

.Category-Postcontainer,
.Postcontainer,
.Category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 13rem));
    justify-content: space-evenly;
    grid-gap: 20px;
    padding: 10px;
    cursor: pointer;
}

.Category-Postcontainer a {
    text-decoration: none;
}

.Postcontainer {
    margin-top: 5px;
}

.Category {
    background-color: #c4c4c4;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.Postcontainer .card a {
    text-decoration: none;
    color: black;
}

#Category-text {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline #F86F03 5px;
    text-decoration-skip-ink: none;
    color: #333;
}

.categoryCard {
    align-items: center;
    border: none;
    color: #333;
    background-color: #fff;
}

.categoryCard .picture {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    margin-top:5vh ;
}

.categoryCard .card-text {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.categoryCard .picture img {
    cursor: pointer;
    text-align: center;
    border-radius: 50% !important;
}

.categoryCard .picture img:active {
    transform: scale(.9);
}

.picture {
    height: 15rem;
    overflow: hidden;
    object-fit: cover;
}

.Postcontainer .card {
    border: none;
}

.Postcontainer .card-body,
.Postcontainer .card-text {
    margin: 0;
    padding: 0;
}

.Postcontainer .card-body {
    padding-left: 1rem;
}

.picture img {
    width: 100%;
    height: 100%;
    border-radius: 7%;
    transition: all ease 1s;
}

.picture:hover img {
    scale: 1.2;
}

.picture-category img {
    border-radius: 0% !important;
}

.aboutProduct-category {
    padding: 1rem;
    padding-top: 0;
}

.aboutProduct-category .Product-title {
    color: #000;
    font-weight: bolder;
    margin: 1 !important;
    font-size: large;
    text-decoration: none !important;
    margin: 0;
}

.aboutProduct-category .discription {
    font-weight: normal;
    color: black;
    margin-bottom: 5px;
    font-size: medium;
    padding-left: .4vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aboutProduct-category #Price {
    color: green;
    font-weight: bolder;
    font-size: large;
    display: inline-block;
    padding-right: 10px;
    margin: 0 !important;
    padding-left: .4vw;
}

.aboutProduct-category #ratingCount {
    color: #0000006b;
}

/* Media query for phones */
@media screen and (max-width: 767px) {

    .Category-Postcontainer,
    .Postcontainer,
    .Category {
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

    .picture {
        height: 15rem;
    }
}


.btn-outline-warning {
    color: #ff9f00 !important;
}

.btn-outline-warning:hover {
    color: #000 !important;
}

.borderspan a {
    color: #ff9f00;
}


/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* For Chrome, Safari, and Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}