<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../image/logo.png" alt="Logo" id="logo" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" style="color: white;"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="my-1 mx-2 close">X</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <%if(!currUser){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup"><img width="25" height="25"
                                src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/external-user-medical-kiranshastry-solid-kiranshastry.png"
                                alt="external-user-medical-kiranshastry-solid-kiranshastry" />SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login"><img width="25" height="25"
                                src="https://img.icons8.com/material-rounded/24/login-rounded-right.png"
                                alt="login-rounded-right" />Login</a>
                    </li>
                    <% }%>
                        <%if(currUser){ %>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa-solid fa-user"></i>&nbsp;Profile</a>
                            </li>
                            <% }%>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa-solid fa-phone"></i>&nbsp;Contact Us</a>
                                </li>
            </ul>
        </div>
    </div>

</nav>