<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../image/logo.png" alt="Logo" id="logo" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" style="color: white;"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="my-1 mx-2 close">X</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><img width="30" height="30"
                            src="https://img.icons8.com/office/16/home--v1.png" alt="home--v1" />Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><img width="30" height="30"
                            src="https://img.icons8.com/fluency/48/mail--v1.png" alt="mail--v1" />Contact Us</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
            </form>
        </div>
    </div>
</nav>