<% layout("/layouts/boilerplate.ejs") %>
    <div class="row" id="login">
        <div class="col-4" id="loginDiv">
            <span class="borderspan">
                <img src="/image/symbol.png" alt="logo.png" height="50vh" class="rounded-circle mb-3">
                <h5 class="title">Wellcome to Creative Craft Juction</h5>
                <hr>
                <form action="/User/login" method="post" class="needs-validation" id="loginForm" novalidate>
                    <span style="color: red; font-weight: 700;">
                        <%if(SignUpError.length!==0){ %>
                            <%= SignUpError %>
                                <% }%>
                    </span>
                    <div class="mb-3 form-floating">
                        <input required type="number" minlength="10" class="form-control" name="Number" id="number"
                            placeholder="number">
                        <label for="number" class="form-label pl-1"><i
                                class="fa-solid fa-phone"></i>&nbsp;NUMBER</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Number is Invalid
                        </div>

                    </div>
                    <button class="btn btn-outline-warning">Submit</button>
                </form>
                <p>Already have account? <a href="/user/login">Login</a></p>
                <!-- HTML !-->
                <span>Login With</span>
                <a href="/User/login/google" style="color: white; text-decoration: none">
                    <button class="button-29 mb-4" role="button" style="height: 30px;">
                        Google</a>
                    </button>
                </a>
            </span>
        </div>
    </div>