<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-4" id="loginDiv">
            <span class="borderspan">
                <h5 class="title">Wellcome to wanderLust</h5>
                <hr>
                <form action="/user/login" method="post" class="needs-validation" id="loginForm" novalidate>
                    <span>
                        <%if(!error.length==0){ %>
                            <%= error %>
                                <% }%>
                                    login
                    </span>
                    <div class="mb-3 form-floating">
                        <input required type="number" minlength="10" class="form-control" name="ContactNumber" id="number"
                            placeholder="number">
                        <label for="number" class="form-label pl-1"><i
                                class="fa-solid fa-phone"></i>&nbsp;NUMBER</label>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Number is Invalid
                        </div>

                    </div>
                    <button class="btn btn-outline-warning">Submit</button>
                </form>
                <p>Already have account? <a href="/user/login">Login</a></p>
            </span>
        </div>
    </div>