<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="col-4" id="signUpDiv">
            <span class="borderspan">
                <h5 class="title">Wellcome to wanderLust</h5>
                <hr>
                <h3 class="loginSignup">Login or signUp</h3>
                <form action="/User/signUp" method="post" class="needs-validation" id="signUpForm" novalidate>
                    <div class="mb-3 form-floating">
                        <input required type="number" class="form-control" name="ContactNumber" id="number" placeholder="number">
                        <label for="number" class="form-label pl-1"><i class="fa-solid fa-envelope"></i> Number</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input required type="text" class="form-control" name="username" id="username"
                            placeholder="username">
                        <label for="username" class="form-label pl-1"><i class="fa-solid fa-user"></i> username</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input required type="email" class="form-control" name="email" id="email" placeholder="email">
                        <label for="email" class="form-label pl-1"><i class="fa-solid fa-envelope"></i> email</label>
                    </div>
                    <div class="mb-3 form-floating">
                        <input required type="password" class="form-control" name="password" id="password"
                            placeholder="password">
                        <label for="password" class="form-label pl-1"><i class="fa-solid fa-lock"></i> password</label>
                    </div>
                    <button class="btn btn-outline-warning">Submit</button>
                </form>
                <p>Already have account? <a href="/user/login">Login</a></p>
            </span>
        </div>
    </div>



