<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <b><a class="navbar-brand" href="/Admin"><img width="30" height="30"
                    src="https://img.icons8.com/color/48/name--v1.png" alt="name--v1" /> Admin</a></b>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/Admin/Category">
                    <img width="25" height="25" src="https://img.icons8.com/ios/50/ffffff/plus-key.png"
                        alt="plus-key" />
                    Add Category
                </a>
                <a class="nav-link" href="/Admin/ViewCategory">
                    <img width="25" height="25" src="https://img.icons8.com/ios/50/ffffff/reminders.png"
                        alt="reminders" />
                    View Category
                </a>
                <a class="nav-link" href="/Admin/Product">
                    <img width="25" height="25" src="https://img.icons8.com/ios/50/ffffff/plus-key.png"
                        alt="plus-key" />
                    Add Products
                </a>
                <a class="nav-link" href="/Admin/ViewProduct">
                    <img width="25" height="25" src="https://img.icons8.com/ios/50/ffffff/reminders.png"
                        alt="reminders" />
                    View Products
                </a>
            </div>
        </div>
    </div>
</nav>